# Wake Word engine
pvporcupine

# Online Speech-to-Text engine
SpeechRecognition

# Audio I/O & Data
pyaudio

# Command matching
thefuzz
python-Levenshtein

# System Control (volume & media)
pycaw
pywin32
keyboard # <-- ДОДАНО

# System Tray integration
pystray
Pillow

# Build tool
pyinstaller